@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Pacifico&family=Pixelify+Sans&family=Satisfy&display=swap');
:root {
  --content-width: 400px;
  --text-color: #209A50;
  --pizza-color-a: #C0342C; /* red */
  --pizza-color-b: #FCEBCA; /* cream */
  --pizza-color-c: #E2924F; /* orange */
  --bg-color: #072007;
  --bg-color-b: #075020;
}

html{
  position: relative;
  min-height: 100%;
}

body {
  background-image: url(bg.png);
  background-repeat: repeat;
  background-attachment: fixed;
  font-family: 'Comic Neue', cursive;
  font-weight: 700;
  color: var(--text-color);
  margin: 0 auto;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5vh;
}

main > *{
  margin: 5px;
  padding: 5px;
  padding-left: 25px;
}

section#main, aside{
  max-width: var(--content-width);
  height: 75vh;
  overflow: clip;
  border: 2.5px solid var(--text-color);
  background-color: var(--bg-color);
  padding: 15px;
  width: 30vw
}

/* mastodon */

#mastodon-section{
  overflow-wrap:  break-word;
  overflow-y: scroll;
  height: 45%;
}

#mastodon-posts * {
  max-width: 90%;
  margin: 0 auto;
}

article#mastodon > a > article{
	margin: 3ch 0;
	padding: 0.5ch;
	color: var(--pizza-color-b);
	background-color: var(--bg-color-b);
}

article#mastodon > a {
	 text-decoration: none
}

article#mastodon > a > article > *{
		display: block;
		margin: 5px auto;
		max-width: 90%;
}

/* chat */
#cbox{
		height: 45%;
}
/* sidebar */

#sidebar {
	display: flex;
	justify-content: center;
	flex-direction: column;
	/* height: 100vh */
}

/* other std elements n stuff */

footer{
  max-width: 50%;
  margin: 0 auto;
  margin-top: 1em;
  text-align: center;
  position: relative;
}

img{
  image-rendering: pixelated;
}

a {
  text-decoration: underline;
  color: var(--pizza-color-b);
}

a:hover {
		background-color: var(--text-color);
		color: var(--bg-color);
		text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Pacifico', cursive;
  margin: 5px;
}

.glow {
	size: 1.5em;
	color: var(--pizza-color-b);
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--pizza-color-a), 0 0 40px var(--pizza-color-a), 0 0 50px var(--pizza-color-a), 0 0 60px var(--pizza-color-a), 0 0 70px var(--pizza-color-a);
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px var(--pizza-color-b), 0 0 40px var(--pizza-color-b), 0 0 50px var(--pizza-color-b), 0 0 60px var(--pizza-color-b), 0 0 70px var(--pizza-color-b), 0 0 80px var(--pizza-color-b);
  }
}

.links {
  float: left;
  width: calc(var(--content-width) / 2);
}

#pizza {
  float: right;
  transition: transform 0.5s linear;
  display: inline;
  max-width: 100%;
}

#pizza:hover {
  transform: rotate(360deg);
}

header {
text-align: center;
margin-top: 10vh;
}

#homepage-heading-link {
  display: inline-block;
  transition: transform 0.3s;
}

#homepage-heading-link:hover {
  transform: scale(1.1);
}

.bounce span {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: shake .3s ease infinite alternate;
    font-size: 80px;
    color: var(--pizza-color-b);
	text-shadow: 0 1px 0 var(--pizza-color-c), 0 2px 0 var(--pizza-color-c), 0 3px 0 var(--pizza-color-c), 0 4px 0 var(--pizza-color-c), 0 5px 0 var(--pizza-color-c), 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, .4);
      &:nth-child(2) {
        animation-delay: 0.10s;
      }
      &:nth-child(3) {
        animation-delay: 0.20s;
      }
      &:nth-child(4) {
        animation-delay: 0.30s;
      }
      &:nth-child(5) {
        animation-delay: 0.40s;
      }
      &:nth-child(6) {
        animation-delay: 0.50s;
      }
      &:nth-child(7) {
        animation-delay: 0.60s;
      }
      &:nth-child(8) {
        animation-delay: 0.70s;
      }
      &:nth-child(9) {
        animation-delay: 0.80s;
      }
      &:nth-child(10) {
        animation-delay: 0.90s;
      }
      &:nth-child(11) {
        animation-delay: 1.0s;
      }
      &:nth-child(12) {
        animation-delay: 1.10s;
      }
      &:nth-child(13) {
        animation-delay: 1.20s;
      }
      &:nth-child(14) {
        animation-delay: 1.3s;
      }
      &:nth-child(15) {
        animation-delay: 1.40s;
      }
    }

@keyframes shake {
  100% {
    top: -10px;
    text-shadow: 0 1px 0 var(--pizza-color-a), 0 2px 0 var(--pizza-color-a), 0 3px 0 var(--pizza-color-a), 0 4px 0 var(--pizza-color-a), 0 5px 0 var(--pizza-color-a), 0 6px 0 var(--pizza-color-a), 0 7px 0 var(--pizza-color-a), 0 8px 0 var(--pizza-color-a), 0 9px 0 var(--pizza-color-a), 0 50px 25px rgba(0, 0, 0, .2);
  }
}

@keyframes blinker {
    0% {
  color: var(--pizza-color-c);
    background-color: var(--bg-color);
  }
  100% {
  color: var(--bg-color);
    background-color: var(--pizza-color-b);
  }
}

.blink_me{
  animation: blinker 0.2s infinite alternate;
  padding: 1px 2px;
  border-radius: 3px;
}

.updates{
  text-align: center;
  background-color: var(--bg-color);
  border: 5px solid var(--text-color);
  padding: 5px;
  margin: 1em auto;
  max-width: 50%
}


/* music player */

#musicplayer {
  max-width: 200px;
  margin: 0 auto;
  color: black;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.songtitle {
  font-size: medium;
  box-shadow: -2px -2px #e0dede, -2px 0 #e0dede, 0 -2px #e0dede, -4px -4px white, -4px 0 white, 0 -4px white, 2px 2px #818181, 0 2px #818181, 2px 0 #818181, 2px -2px #e0dede, -2px 2px #818181, -4px 2px white, -4px 4px black, 4px 4px black, 4px 0 black, 0 4px black, 2px -4px white, 4px -4px black;
  margin: 5px;
  height: 31px;
  font-size: 12px;
  background: #ccc;
  font-family: inherit;
  font-weight: inherit;
  line-height: 31px;
  text-align: center;
}
.controls {
  display: flex;
  justify-content: space-evenly;
}
.controls > * {
  height: 31px;
  width: 88px;
}
.controls > * {
  line-height: 31px;
  text-align: center;
  background: #ccc;
  box-shadow: -2px -2px #e0dede, -2px 0 #e0dede, 0 -2px #e0dede, -4px -4px white, -4px 0 white, 0 -4px white, 2px 2px #818181, 0 2px #818181, 2px 0 #818181, 2px -2px #e0dede, -2px 2px #818181, -4px 2px white, -4px 4px black, 4px 4px black, 4px 0 black, 0 4px black, 2px -4px white, 4px -4px black;
  margin: 5px;
}
.controls > *:active {
  box-shadow: -2px -2px #818181, -2px 0 #818181, 0 -2px #818181, -4px -4px black, -4px 0 black, 0 -4px black, 2px 2px #e0dede, 0 2px #e0dede, 2px 0 #e0dede, 2px -2px #818181, -2px 2px #e0dede, -4px 2px black, -4px 4px white, 4px 4px white, 4px 0 white, 0 4px white, 2px -4px black, 4px -4px white;
}
.seeking > * {
  text-align: center;
  display: inline-block;
  line-height: 31px;
}
.seek_slider {
}
.seek_slider {
  width: 50%;
  margin: 0;
  height: 31px;
  padding: 0;
}
.seeking {
  display: flex;
  justify-content: center;
  background: #ccc;
  box-shadow: -2px -2px #e0dede, -2px 0 #e0dede, 0 -2px #e0dede, -4px -4px white, -4px 0 white, 0 -4px white, 2px 2px #818181, 0 2px #818181, 2px 0 #818181, 2px -2px #e0dede, -2px 2px #818181, -4px 2px white, -4px 4px black, 4px 4px black, 4px 0 black, 0 4px black, 2px -4px white, 4px -4px black;
  margin: 5px;
}
.seeking > * {
  margin: auto;
}
.songtitle {
}
#musicplayer{
	position: relative; /* Establishes a positioning context for the pseudo-element */
  width: 80%; /* Set your desired width */
  height: 200px; /* Set your desired height */
  
  overflow: hidden; /* Ensures image does not overflow the container */
}

#musicplayer::before {
  content: ""; /* Required for pseudo-elements */
  position: absolute; /* Position the pseudo-element absolutely within the container */
  top: -10%;
  left: 10%;
  width: 80%; /* Stretch the image to cover the entire width */
  height: 80%; /* Stretch the image to cover the entire height */
  background: url('under_construction.png') no-repeat center center; /* Set the image as background */
  background-size: cover; /* Ensures the image covers the container while maintaining its aspect ratio */
  pointer-events: none; /* Allows interactions with elements below the image */
  z-index: 1; /* Ensures the image is on top of the content */
	 animation: shake 1s infinite; /* Apply the animation */
}

#musicplayer p {
  position: relative; /* Ensure text is above the pseudo-element */
  z-index: 2; /* Makes sure the content is visible above the image */
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg); /* Rotate slightly clockwise */
  }
  50% {
    transform: rotate(0deg); /* Back to original position */
  }
  75% {
    transform: rotate(-5deg); /* Rotate slightly counterclockwise */
  }
  100% {
    transform: rotate(0deg); /* Back to original position */
  }
}

@media only screen and (max-width: 500px) {
  :root {
    --content-width: 100%;
  }
  section#main, aside, footer{
		margin: 0.5ch;
		padding: 1em;
  height: 100%;
    width: 85%
  }
  #pizza{
    display: none;
  }
  footer{
  max-width: 75%;
  margin: 0 auto;
  }
  main {
    flex-direction: column;
	max-width: var(--content-width);
  }
  }

@media only screen and (min-width: 500px) {
  .use-a-pc{
    display: none;
  }
}


